body{
   background-color: aqua;
}

div {
    margin:25px;
}

li a{
    background-color: white;
     color: crimson;
     text-decoration: none;
     padding: 1em 1.5em;
     display: block;
     margin: 5px;
     text-transform: uppercase;
     border-radius: 20px; /*rounds the edges*/
}

li a:hover{
    background-color: lightgrey;
    cursor: pointer;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: crimson;
    float: left; /*just takes up the room needed, based on what you have there*/
    height: 100vh;
    padding: 15px;
}

#Information{
    background-color: grey;
    width: 45%;
    border: 5px solid crimson;
    box-shadow: 0 4px 8px rgba(180,0,0,0.6);
    margin: 25px;
    padding: 15px;
}

#Information:hover{
    transition: transform 1.5s ease-in-out;
    transform: rotate(720deg) scale(2);
}

.Main{
    float: left;
}



